<ul class="buttons vertical">
<a name="anchor"></a>
{{#each polls}}
	{{#unless closed}}
		{{#unless inset}}
		<li><a href=/polar/{{id}} class="button fit scrolly effect2" target="_self">{{name}}</a></li>
		{{/unless}}
	{{/unless}}
{{/each}}
