{{> header}}

<section id="banner">
    <div class="inner">
        <div id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg"></div>
        <header>
            <h2>SORRY</h2>
        </header>
        <p>No poll here!
						{{> polls }}
        </p>
    </div>

</section>
