{{> header}}

<section id="banner">
    <div class="inner">
        <div id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg"></div>
        <header>
            <h2>OOPS!</h2>
        </header>
        <p>No poll here.
        <div id="currentQuestions">Current polls</div>
						{{> polls }}
        </p>
    </div>

</section>
