<!-- Header -->
<header id="header" class="alt">
    <h1 id="logo"><a href="index.html">Tell <span>Target</span></a></h1>
    <nav id="nav">
<!--         <ul>
            <li class="current"><a href="index.html">Welcome</a></li>
            <li class="submenu">
                <a href="">Layouts</a>
                <ul>
                    <li><a href="left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="no-sidebar.html">No Sidebar</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </li>
        </ul> -->
    </nav>
</header>

<!-- Banner -->
<section id="banner">

    <div class="inner">
        <div id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg"></div>
        <header>
            <!-- <span id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg"></span> --><h2>Surveys</h2>
        </header>
        <p>This is an opportunity
            <br />
            to have a <strong> say</strong>
            <br />
            in the future <a href="#">of our Brand</a>.</p>
        <footer>
            <ul class="buttons vertical">

	            {{#if set}}
                <li><a href="/polar/set/{{id}}" class="button fit scrolly" target="_self">Let's get started!</a></li>
	            {{else}}
                <li><a href="/polar/{{id}}" class="button fit scrolly" target="_self">Let's get started!</a></li>
	            {{/if}}

            </ul>
        </footer>
    </div>

</section>