{{> header}}

<section id="banner">
    <div class="inner">
        <div id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg" alt=""></div>
        <header>
            <h1>Tell Target</h1>
        </header>
        <p>An opportunity to shape</p>
        <p>our products &amp; services.</p>
        <footer>
            <ul class="buttons vertical" >
                <li><a href="/polar/{{id}}" class="button fit scrolly" target="_self" title="links to poll">I'm in!</a></li>
            </ul>
        </footer>
    </div>

</section>
