{{> header}}

<section id="banner">
    <div class="inner">
        <div id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg"></div>
        <header>
            <h2>Tell Target</h2>
        </header>
        <p>This is an opportunity
            <br/>
            to have a say
            <br/>
            in the future of our Brand.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="/polar/{{id}}" class="button fit scrolly" target="_self">I'm in!</a></li>
            </ul>
        </footer>
    </div>

</section>
