{{> header}}

<section id="banner">
    <div class="inner">
        <div id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg"></div>
        <header>
            <!-- <span id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg"></span> --><h2>Welcome</h2>
        </header>
        <p>Tell Target
					{{> polls }}
        </p>
    </div>
</section>
