<!-- Header -->
<header id="header" class="alt">
    <h1 id="logo">Tell <span>Target</span></h1>

</header>

<!-- Banner -->
<section id="banner">

    <div class="inner">
        <div id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg"></div>
        <header>
            <!-- <span id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg"></span> --><h2>Welcome</h2>
        </header>
        <p>to Tell Target
            <br />
            take a look at these polls
            <br />
            {{#each polls}}
            {{#unless closed}}
            {{#unless inset}}
            <a href=/polar/{{id}}>{{name}}</a></br>
            {{/unless}}
            {{/unless}}
            {{/each}}
            </p>
        <footer>
            <ul class="buttons vertical">


            </ul>
        </footer>
    </div>

</section>
