<link rel="stylesheet" type="text/css" href="css/surveyStyle.css">


<div id="headerLogo"><span>TELL </span>TARGET</div>


<!-- Banner -->
<section id="banner">


    <div id="lightbox"></div>
    <div id="lb-content">

        <section id="banner">

            <div class="inner">
                <div id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg"></div>
                <header>
                    <h2>Thank you</h2>
                </header>
                <p>For sharing your voice
                    <br/>

                    <script type="text/javascript">

                        function add_bookmark(url, page_title) {
                            if (window.sidebar) {
                                window.sidebar.addPanel(page_title, url, '');
                            } else if (window.opera) {
                                var a = document.createElement('A');
                                a.rel = 'sidebar';
                                a.target = '_search';
                                a.title = page_title;
                                a.href = url;
                                a.click();
                            } else if (window.external) {
                                window.external.AddFavorite(url, page_title);
                            } else {
                                alert("Your web browser appears to not support adding a bookmark via Javascript.Please manually add one via your browser ' s bookmark menu.");
                            }
                        }
                    </script>

                <div class="navbar-social">
                    <a title="Share via Facebook"
                       href="https://www.facebook.com/sharer/sharer.php?u=Check%20it%20out!%20Tell%20Target%3A%20an%20opportunity%20to%20shape%20Target%27s%20products%20%26%20services%20by%20taking%20quick%20polls!%20http%3A%2F%2Fpolls.targetrad.com"
                       target="_blank">
		                    <img src="../images/ICN_FB.png"/>
                    </a>
                    <a title="Share via Twitter"
                       href="https://twitter.com/intent/tweet?text=Check%20it%20out!%20Tell%20Target%3A%20an%20opportunity%20to%20shape%20Target%27s%20products%20%26%20services%20by%20taking%20quick%20polls!%20http%3A%2F%2Fpolls.targetrad.com"
                       target="_blank">
		                    <img src="../images/ICN_TWIT.png"/>
                    </a>
                    <a title="Share via Email"
                       href="mailto://?subject=Tell%20Target&body=Check%20it%20out!%20Tell%20Target%3A%20an%20opportunity%20to%20shape%20Target%27s%20products%20%26%20services%20by%20taking%20quick%20polls!%20http%3A%2F%2Fpolls.targetrad.com">
		                    <img src="../images/ICN_EMAIL.png"/>
                    </a>
                    <a title="Bookmark This Site"
                       href="">
                            <img src="../images/ICN_BOOK.png"/>
                    </a>
                </div>
            </div>

        </section>
    </div>
    <script>
        $(document).ready(function () {

            var disp = function () {
                var lightBox = $('#lightbox');
                var lightBoxContent = $('#lb-content');
                var positionLightbox = function () {
                    var viewWidth = $(window).width();
                    var lbContentMargin = (viewWidth / 2) - 148;
                    var lbContent = $('#lb-content');

                    lbContent.css({
                        'left': lbContentMargin
                        //  'top' : $(window).scrollTop() + 50 + 'px'
                    });
                };
                $('#centerPolls').hide();
                lightBox.fadeIn(function () {
                    lightBoxContent.show();
                });
                positionLightbox();

                $('#lb-close').click(function () {
                    lightBox.hide();
                    lightBoxContent.hide();
                });
            };

            var target = $('.polar-polls');
            var polarOptions = {
							{{#if set}}
                  pollSet: {{id}},
							{{else}}
                  pollId: {{id}},
							{{/if}}

                publisher: 'TargetUXR',
                callbacks: {
                    vote: function (data) {
                        // this fires on both voting and unvoting actions
                        // data.pollID
                        // data.choice (1,2, etc)
                    },
                    loaded: function (data) {
                        // when the survey loads onto the page
                        // data.app = EmbeddedPollsApp
                        data.app.voteActionManager.displayShare = function (poll, vote, voteAction) {
                            disp();
                        };
                    },
                    navigate: function (data) {
                        // (PollSet and if there are multiple polls to navigate) this fires when the question transitions; both with navigation and when answering a question
                        // data.direction ('next', 'previous')
                        // data.currentPollID
                        // data.nextPollID
                    },
                    lastPoll: function () {
                        // (PollSet and if there are multiple polls to navigate)
                        // this only fires when the controls are engaged, not when answering questions
                    }
                }
            };

            //Instantiate new EmbeddedPollsApp showing a single Poll by ID
            var polar = new EmbeddedPollsApp(target, polarOptions);

            polar.init();
        });
    </script>
    <div id="centerPolls">
        <div class="polar-polls"></div>
    </div>

</section>
