<link rel="stylesheet" type="text/css" href="css/surveyStyle.css">


<div id="headerLogo"><span>TELL TARGET </span></div>


<!-- Banner -->
<section id="banner">


    <div id="lightbox"></div>
    <div id="lb-content">
            <div class="inner">
                <div id="bullseye-logo"><img src="images/Bullseye_75_CMYK.svg" alt=""></div>
                <header>
                    <h1>Thank you</h1>
                </header>
                <p>For sharing your voice</p>
                    <br/>

                <div class="navbar-social">
                    <a title="Share via Facebook"
                       href="https://www.facebook.com/sharer/sharer.php?u=http://polls.targetrad.com"
                       target="_blank">
		                    <img src="../images/ICN_FB.png" alt="facebook icon"/>
                    </a>
                    <a title="Share via Twitter"
                       href="https://twitter.com/intent/tweet?text=Check%20it%20out!%20Tell%20Target%3A%20an%20opportunity%20to%20shape%20Target%27s%20products%20%26%20services%20by%20taking%20quick%20polls!%20http%3A%2F%2Fpolls.targetrad.com"
                       target="_blank">
		                    <img src="../images/ICN_TWIT.png" alt="twitter icon"/>
                    </a>
                    <a title="Share via Email"
                       href="mailto://?subject=Tell%20Target&body=Check%20it%20out!%20Tell%20Target%3A%20an%20opportunity%20to%20shape%20Target%27s%20products%20%26%20services%20by%20taking%20quick%20polls!%20http%3A%2F%2Fpolls.targetrad.com">
		                    <img src="../images/ICN_EMAIL.png" alt="email icon"/>
                    </a>
                </div>
            </div>
    </div>
    <script>
        $(document).ready(function () {

            var disp = function () {
                var lightBox = $('#lightbox');
                var lightBoxContent = $('#lb-content');
                var positionLightbox = function () {
                    var viewWidth = $(window).width();
                    var lbContentMargin = (viewWidth / 2) - 148;
                    var lbContent = $('#lb-content');

                    lbContent.css({
                        'left': lbContentMargin
                        //  'top' : $(window).scrollTop() + 50 + 'px'
                    });
                };

                $('body').css({
		              'background-color': '#c90000'
                });

                $('#centerPolls').hide();
                $('#headerLogo').hide();
                lightBox.fadeIn(function () {
                    lightBoxContent.show();
                });
                positionLightbox();

                $('#lb-close').click(function () {
                    lightBox.hide();
                    lightBoxContent.hide();
                });
            };

            var target = $('.polar-polls');
            var polarOptions = {
							{{#if set}}
                  pollSet: {{id}},
							{{else}}
                  pollId: {{id}},
							{{/if}}

                publisher: 'TargetUXR',
                callbacks: {
                    vote: function (data) {
                        // this fires on both voting and unvoting actions
                        // data.pollID
                        // data.choice (1,2, etc)
                    },
                    loaded: function (data) {
                        // when the survey loads onto the page
                        // data.app = EmbeddedPollsApp
                        data.app.voteActionManager.displayShare = function (poll, vote, voteAction) {
                            disp();
                        };
                    },
                    navigate: function (data) {
                        // (PollSet and if there are multiple polls to navigate) this fires when the question transitions; both with navigation and when answering a question
                        // data.direction ('next', 'previous')
                        // data.currentPollID
                        // data.nextPollID
                    },
                    lastPoll: function () {
                        // (PollSet and if there are multiple polls to navigate)
                        // this only fires when the controls are engaged, not when answering questions
                    }
                }
            };

            //Instantiate new EmbeddedPollsApp showing a single Poll by ID
            var polar = new EmbeddedPollsApp(target, polarOptions);

            polar.init();
        });
    </script>
    <div id="centerPolls">
        <div class="polar-polls"></div>
    </div>

</section>
