doctype html
html(lang='en')
div
  table
    thead
      tr: th Polls
    tbody
      each poll, i in res
        tr
          td
            unless(poll.closed === true)
              img(src= poll.image.url, href='/p/#{poll.pollID}/')
          td
            unless(poll.closed === true)
              a(href='/p/#{poll.pollID}/') #{poll.caption}
