doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Survey!

body
	if pollSet
		script(src="http://assets-polarb-com.a.ssl.fastly.net/assets/polar-embedded.js", async="true", data-publisher="nicolenetland", data-poll-set!=id)
	else
		script(src="http://assets-polarb-com.a.ssl.fastly.net/assets/polar-embedded.js", async="true", data-publisher="nicolenetland", data-poll-id!=id)
