doctype html
html(lang='en', ng-app='angular-client-side-auth')
	head
		meta(charset='utf-8')
		title Survey!

		script(src='https://www.wedgies.com/js/widgets.js')

body
	.wedgie-widget(wd-owner="false", wd-social="false", wd-branding="false", wd-pending, wd-type='embed', wd-version='v1', id!=id, style='max-width: 720px;')
